<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!-- $Id: log4j.xml,v 1.1 2004/12/01 14:29:16 henslch_ Exp $ -->

<!--
   | For more configuration infromation and examples see the Jakarta Log4j
   | owebsite: http://jakarta.apache.org/log4j
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">


  <!-- ============================== -->
  <!-- Append messages to the console -->
  <!-- org.apache.log4j.ConsoleAppender -->

  <appender name="myFile" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="binhunt.log"/>
    <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
    <!--<param name="Threshold" value="INFO"/>-->

    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Message\n -->
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
    </layout>
    
    <!--<filter class="org.apache.log4j.varia.DenyAllFilter"/> -->
  </appender>
  
  <appender name="myCon" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
    <!--<param name="Threshold" value="INFO"/>-->

    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Message\n -->
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
    </layout>
    
    <!--<filter class="org.apache.log4j.varia.DenyAllFilter"/> -->
  </appender>
   

  <!-- ======================= -->
  <!-- Setup the Root category -->
  <!-- ======================= -->
   <logger name="com.binhunt.workflow">
    <level value="DEBUG"/>
  </logger> 
  
 

  <root>
    <level value="DEBUG"/>
    <appender-ref ref="myFile"/>
    <appender-ref ref="myCon"/>
 
  </root>


  
</log4j:configuration>
